Repository Start-as-Web-Developers/tumblbug-clone-coding, pull requests merged in 2023-04, with the labels that each got.

#9 init : .eslintrc.json 확장자 관련 내용 변경
  frontend/.eslintrc.json
Labels: frontend

#11 Feature/2 메인화면 navbar 뷰 컴포넌트화
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Main/Main.tsx
  frontend/src/MainLogo/Logo.tsx
  frontend/src/Navbar/Navbar.tsx
  frontend/src/Navbar/firstRow/NavbarFirstRow.tsx
  frontend/src/Navbar/firstRow/NavbarProfileImage.tsx
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/firstRow/navbarProfileImage.scss
  frontend/src/Navbar/navbar.scss
  frontend/src/Navbar/secondRow/CategoryArea.tsx
  frontend/src/Navbar/secondRow/NavbarSecondRow.tsx
  frontend/src/Navbar/secondRow/SearchArea.tsx
  frontend/src/Navbar/secondRow/categoryArea.scss
  frontend/src/Navbar/secondRow/navbarSecondRow.scss
  frontend/src/Navbar/secondRow/searchArea.scss
  frontend/src/index.tsx
  frontend/src/reset.scss
Labels: enhancement, frontend

#13 #12 - navbar 카테고리 템플릿 제작
  frontend/src/Main/Main.tsx
  frontend/src/Navbar/Navbar.tsx
  frontend/src/Navbar/categoryBox/CategoryBox.tsx
  frontend/src/Navbar/categoryBox/Logo.tsx
  frontend/src/Navbar/categoryBox/categoryBox.scss
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/navbar.scss
  frontend/src/Navbar/secondRow/CategoryArea.tsx
  frontend/src/Navbar/secondRow/navbarSecondRow.scss
Labels: enhancement, frontend

#21 feat:#19 - Create footer view of main page
  frontend/src/Main/Footer.tsx
  frontend/src/Main/Main.tsx
  frontend/src/Main/cardArea.scss
  frontend/src/Main/footer.scss
Labels: enhancement, frontend

#22 Feature/3 로그인 페이지 뷰 제작
  frontend/src/Login/LoginBox.scss
  frontend/src/Login/LoginBox.tsx
  frontend/src/Login/LoginFormKakao/LoginFormKakao.scss
  frontend/src/Login/LoginFormKakao/LoginFormKakao.tsx
  frontend/src/Login/LoginTransfer/LoginTransfer.scss
  frontend/src/Login/LoginTransfer/LoginTransfer.tsx
  frontend/src/Main/Main.tsx
  frontend/src/Main/main.scss
Labels: enhancement, frontend

#24 Feature/23 react router dom 설치 및 라우팅
  README.md
  frontend/.eslintrc.json
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Login/LoginBox.scss
  frontend/src/Login/LoginBox.tsx
  frontend/src/Login/LoginFormKakao/LoginFormKakao.scss
  frontend/src/Login/LoginFormKakao/LoginFormKakao.tsx
  frontend/src/Login/LoginTransfer/LoginTransfer.scss
  frontend/src/Login/LoginTransfer/LoginTransfer.tsx
  frontend/src/Main/Body.tsx
  frontend/src/Main/BodyFilterBtnArea.tsx
  frontend/src/Main/BodyTitle.tsx
  frontend/src/Main/CardArea.tsx
  frontend/src/Main/Footer.tsx
  frontend/src/Main/Main.tsx
  frontend/src/Main/body.scss
  frontend/src/Main/bodyFilterBtnArea.scss
  frontend/src/Main/bodyTitle.scss
  frontend/src/Main/cardArea.scss
  frontend/src/Main/footer.scss
  frontend/src/Main/main.scss
  frontend/src/Navbar/Navbar.tsx
  frontend/src/Navbar/categoryBox/CategoryBox.tsx
  frontend/src/Navbar/categoryBox/Logo.tsx
  frontend/src/Navbar/categoryBox/categoryBox.scss
  frontend/src/Navbar/firstRow/NavbarFirstRow.tsx
  frontend/src/Navbar/firstRow/NavbarProfileImage.tsx
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/firstRow/navbarProfileImage.scss
  frontend/src/Navbar/navbar.scss
  frontend/src/Navbar/secondRow/CategoryArea.tsx
  frontend/src/Navbar/secondRow/NavbarSecondRow.tsx
  frontend/src/Navbar/secondRow/SearchArea.tsx
  frontend/src/Navbar/secondRow/categoryArea.scss
  frontend/src/Navbar/secondRow/navbarSecondRow.scss
  frontend/src/Navbar/secondRow/searchArea.scss
  frontend/src/TumblbugLogo/Logo.tsx
  frontend/src/index.tsx
  frontend/src/reset.scss
Labels: enhancement, frontend

#30 Feature/27 메인화면 필터 뷰 제작 및 클릭 이벤트 연동
  frontend/src/Main/BodyFilterBtnArea.tsx
  frontend/src/Main/bodyFilterBtnArea.scss
  frontend/src/Navbar/categoryBox/categoryBox.scss
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/secondRow/navbarSecondRow.scss
  frontend/src/utils/commonFunction.ts
  frontend/src/utils/commonVariable.ts
Labels: enhancement, frontend

#29 LoginForm 컴포넌트 복원
  README.md
  frontend/src/Login/LoginForm/LoginForm.scss
  frontend/src/Login/LoginForm/LoginForm.tsx
  frontend/src/Main/BodyFilterBtnArea.tsx
  frontend/src/Main/Main.tsx
  frontend/src/Main/bodyFilterBtnArea.scss
  frontend/src/Navbar/categoryBox/categoryBox.scss
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/secondRow/navbarSecondRow.scss
  frontend/src/utils/commonFunction.ts
  frontend/src/utils/commonVariable.ts
Labels: bug, frontend

#32 Feature/31 jest 학습 및 태훈님께 활용 방법 공유
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/utils/commonFunction.test.ts
Labels: documentation, frontend

#36 feat : #33 - make Project class
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
Labels: enhancement, backend

#44 Feature/create directory architecture
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/tempController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/tempConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/tempRepository.java
Labels: enhancement, backend

#38 feat: #37 - Create commonFunction.test.ts & make testcases for all fu…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/commonFunction.test.ts
  frontend/src/utils/commonFunction.ts
Labels: enhancement, frontend

#40 feat: #39 - refactor front/src/Navbar
  frontend/src/Navbar/secondRow/CategoryArea.tsx
  frontend/src/utils/commonVariable.ts
Labels: frontend, refactor

#47 Feat : #47 - Sign up Form
  frontend/src/App.tsx
  frontend/src/Login/LoginForm/LoginForm.scss
  frontend/src/Login/LoginForm/LoginForm.tsx
  frontend/src/Login/Singup/Signup.scss
  frontend/src/Login/Singup/Signup.tsx
  frontend/src/Main/Main.tsx
Labels: enhancement, frontend

#50 Feature/48 프로젝트 업로드 뷰 제작
  frontend/src/App.tsx
  frontend/src/Navbar/firstRow/NavbarFirstRow.tsx
  frontend/src/ProjectUpload/CardAddModal.tsx
  frontend/src/ProjectUpload/CategorySelectModal.tsx
  frontend/src/ProjectUpload/ProjectPreviewColumn.scss
  frontend/src/ProjectUpload/ProjectPreviewColumn.tsx
  frontend/src/ProjectUpload/ProjectRegisterColumn.scss
  frontend/src/ProjectUpload/ProjectRegisterColumn.tsx
  frontend/src/ProjectUpload/ProjectUpload.tsx
  frontend/src/ProjectUpload/cardAddModal.scss
  frontend/src/ProjectUpload/categorySelectModal.scss
  frontend/src/ProjectUpload/projectUpload.scss
Labels: enhancement, frontend
