Repository Start-as-Web-Developers/tumblbug-clone-coding, pull requests merged in 2023-05, with the labels that each got.

#56 Feature/41 make user
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UnregisterUserException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserCantModifyIdException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserEmailDuplicatedException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserIdDuplicatedException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/UserRepositoryTest.java
Labels: enhancement, backend

#60 Feature/54 프로젝트 업로드 폴더 테스트 코드 작성
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ProjectUpload/CardAddModal.tsx
  frontend/src/ProjectUpload/CategorySelectModal.tsx
  frontend/src/ProjectUpload/ProjectRegisterColumn.tsx
  frontend/src/ProjectUpload/cardAddModal.test.tsx
  frontend/src/ProjectUpload/categorySelectionModal.test.tsx
  frontend/src/ProjectUpload/projectRegisterColumn.test.tsx
  frontend/src/utils/commonErrorFunction.ts
  frontend/src/utils/commonFunction.ts
  frontend/src/utils/commonVariable.ts
Labels: enhancement, frontend

#63 Feature/62 프로젝트 업로드 preview 뷰 제작
  frontend/src/ProjectUpload/Preview/PreviewContainer.tsx
  frontend/src/ProjectUpload/Preview/PreviewDetail.tsx
  frontend/src/ProjectUpload/Preview/PreviewSummary.tsx
  frontend/src/ProjectUpload/Preview/PreviewTitle.tsx
  frontend/src/ProjectUpload/Preview/ProjectPreviewColumn.scss
  frontend/src/ProjectUpload/Preview/ProjectPreviewColumn.tsx
  frontend/src/ProjectUpload/Preview/previewContainer.scss
  frontend/src/ProjectUpload/Preview/previewDetail.scss
  frontend/src/ProjectUpload/Preview/previewSummary.scss
  frontend/src/ProjectUpload/Preview/previewTitle.scss
  frontend/src/ProjectUpload/ProjectUpload.tsx
  frontend/src/ProjectUpload/Register/CardAddModal.tsx
  frontend/src/ProjectUpload/Register/CategorySelectModal.tsx
  frontend/src/ProjectUpload/Register/ProjectRegisterColumn.scss
  frontend/src/ProjectUpload/Register/ProjectRegisterColumn.tsx
  frontend/src/ProjectUpload/Register/cardAddModal.scss
  frontend/src/ProjectUpload/Register/cardAddModal.test.tsx
  frontend/src/ProjectUpload/Register/categorySelectModal.scss
  frontend/src/ProjectUpload/Register/categorySelectionModal.test.tsx
  frontend/src/ProjectUpload/Register/projectRegisterColumn.test.tsx
  frontend/src/ProjectUpload/projectRegisterColumn.test.tsx
  frontend/src/utils/commonVariable.ts
Labels: enhancement, frontend

#61 Feature/45 create project
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/ComponentCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/ProjectCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/tempController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/tempConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Component.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Product.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ComponentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProductRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
Labels: enhancement, backend

#66 Feature/34 projects controller
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ProjectConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/ProjectCard.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/Callendar.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/ProjectCardControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/CallendarTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/ProjectCardServiceTest.java
Labels: enhancement, backend

#67 Feature/46 project community crud
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/communityException/CommunityCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/componentException/ComponentCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/projectException/ProjectCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommunityController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Community.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Component.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Product.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/CommunityRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ComponentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
Labels: enhancement, backend

#69 feat: #45 create project controller
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Component.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Product.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ComponentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProductRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/projectService.java
Labels: enhancement, backend

#70 Feature/70 마이페이지 프로필 뷰 제작
  frontend/src/App.tsx
  frontend/src/Profile/ProfileIntroduction/ProfileIntroduction.scss
  frontend/src/Profile/ProfileIntroduction/ProfileIntroduction.tsx
  frontend/src/Profile/ProfileMyProject/ProfileMyProject.scss
  frontend/src/Profile/ProfileMyProject/ProfileMyProject.tsx
  frontend/src/Profile/ProfileSupported/ProfileSupported.scss
  frontend/src/Profile/ProfileSupported/ProfileSupported.tsx
  frontend/src/Profile/profile.scss
  frontend/src/Profile/profile.tsx
  frontend/src/Profile/profileContent.scss
  frontend/src/Profile/profileContent.tsx
  frontend/src/ProjectUpload/Preview/ProjectPreviewColumn.tsx
Labels: enhancement, frontend

#76 feat : #75 - connect DB
  backend/tumblbug-clone/build.gradle
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/TumblbugCloneApplication.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dbexample/DBConnectClass.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dbexample/TempDBData.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
  backend/tumblbug-clone/src/main/resources/META-INF/persistence.xml
  backend/tumblbug-clone/src/main/resources/application.properties
Labels: enhancement, backend

#78 Feature/#77 - connect DB
  backend/tumblbug-clone/src/main/resources/application.properties
Labels: enhancement, backend

#79 Feature/77 modify build.gradle
  backend/tumblbug-clone/build.gradle
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/TumblbugCloneApplication.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dbexample/DBConnectClass.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/resources/META-INF/persistence.xml
Labels: enhancement, backend

#87 Feature/80 front end 메인화면 및 프로젝트 업로드 코드 리팩토링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Main/Body.tsx
  frontend/src/Main/BodyFilterBtnArea.tsx
  frontend/src/Main/BodyTitle.tsx
  frontend/src/Main/CardArea.tsx
  frontend/src/Main/Main.tsx
  frontend/src/Main/bodyFilterBtnArea.scss
  frontend/src/Navbar/secondRow/CategoryArea.tsx
  frontend/src/ProjectUpload/Preview/PreviewDetail.tsx
  frontend/src/ProjectUpload/Preview/PreviewSummary.tsx
  frontend/src/ProjectUpload/Preview/PreviewTitle.tsx
  frontend/src/ProjectUpload/Register/CardAddModal.tsx
  frontend/src/utils/commonErrorFunction.ts
  frontend/src/utils/commonFunction.ts
  frontend/src/utils/commonVariable.ts
Labels: refactor

#88 Feature/84 make user repository
  backend/tumblbug-clone/build.gradle
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/AppConfig.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/TumblbugCloneApplication.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommunityController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dbexample/DBConnectClass.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dbexample/TempDBData.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/dao/UserDAO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/CommunityRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ComponentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProductRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/projectService.java
  backend/tumblbug-clone/src/main/resources/META-INF/persistence.xml
  backend/tumblbug-clone/src/main/resources/appConfig.xml
  backend/tumblbug-clone/src/main/resources/application.properties
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/ProjectCardControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/model/dao/UserDAOTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/UserRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/ProjectCardServiceTest.java
Labels: enhancement, backend

#90 feat:81 - Implement upload'image drag & drop event
  frontend/src/ProjectUpload/ProjectUpload.tsx
  frontend/src/ProjectUpload/projectUpload.scss
Labels: enhancement, frontend

#93 feat : #84 - make logic & testCode about UserService
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#97 Feature/84 make user service
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/UserRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: bug, backend

#98 Feature/84 make user controller
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/AppConfig.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserDTOConvertException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/UserRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#96 Feature/#96 프로필 드롭다운 메뉴 뷰 제작
  frontend/src/MyDropdown/MyDropdown.scss
  frontend/src/MyDropdown/MyDropdown.tsx
  frontend/src/Navbar/Navbar.tsx
  frontend/src/Navbar/firstRow/NavbarFirstRow.tsx
  frontend/src/Navbar/firstRow/navbarFirstRow.scss
  frontend/src/Navbar/navbar.scss
  frontend/src/Profile/profileContent.tsx
Labels: enhancement, frontend

#102 Feature/92 connect project to db
  backend/tumblbug-clone/build.gradle
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProductDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectAllDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Community.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Component.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Product.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/ProjectCard.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ComponentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProductRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/Callendar.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ComponentService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProductService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/projectService.java
  backend/tumblbug-clone/src/main/resources/META-INF/persistence.xml
  backend/tumblbug-clone/src/main/resources/application.properties
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ComponentRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ProductRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ProjectRepositoryTest.java
Labels: enhancement, backend

#105 Feature/#105 프로필 페이지 부분 렌더링 구현
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/Profile/profileContent.tsx
Labels: enhancement, frontend

#107 feat: #71 - Add product crud
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProductController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProductRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProductService.java
Labels: enhancement, backend

#111 Feature/ #72 create component api
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ComponentController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ComponentService.java
Labels: enhancement, backend

#109 Feature/#106 로그인 회원가입 페이지 결합
  frontend/src/App.tsx
  frontend/src/Login/LoginBox.scss
  frontend/src/Login/LoginBox.tsx
  frontend/src/Login/LoginSignup.scss
  frontend/src/Login/LoginSignup.tsx
  frontend/src/Login/LoginTransfer/LoginTransfer.tsx
  frontend/src/Login/Signup.scss
  frontend/src/Login/Signup.tsx
  frontend/src/Navbar/firstRow/NavbarFirstRow.tsx
Labels: enhancement, frontend

#113 Dev
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/ProjectDetail/ImageSlider.tsx
  frontend/src/ProjectDetail/ProjectDetail.tsx
  frontend/src/ProjectDetail/ProjectDetailContent.tsx
  frontend/src/ProjectDetail/ProjectDetailHeader.tsx
  frontend/src/ProjectDetail/SponsorInfo.tsx
  frontend/src/ProjectDetail/imageSlider.scss
  frontend/src/ProjectDetail/projectDetail.scss
  frontend/src/ProjectDetail/projectDetailContent.scss
  frontend/src/ProjectDetail/projectDetailHeader.scss
  frontend/src/ProjectDetail/sponsorInfo.scss
Labels: enhancement, frontend

#110 Feature/#101 connect community
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommunityController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Community.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/CommunityRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/CommunityService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/CommunityRepositoryTest.java
Labels: enhancement, backend

#116 feat#103 - 상세 페이지 헤더 뷰 제작 완료
  frontend/src/ProjectDetail/SponsorInfo.tsx
  frontend/src/ProjectDetail/sponsorInfo.scss
Labels: enhancement, frontend

#117 Feature/68 make like model
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/likeException/NoLikeFounded.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/WrongPasswordException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectListController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Like.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/LikeRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/LikeRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#119 refactor : #84 - divede UserDTO to UserSendingDTO, UserReceivingDTO
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserReceivingDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserSendingDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/LikeService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: backend, refactor

#121 Feature/100 login
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserLoginDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#122 Feature/100 login
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/UserConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
Labels: enhancement, backend

#126 Feature/124 create project plan api
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/PlanDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectService.java
Labels: enhancement, backend

#129 feat : #115 - project list service
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/projectlistexception/StartIndexException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserReceivingDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/UserSendingDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Community.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/CommunityRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ProjectRepositoryListTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/ProjectCardServiceTest.java
Labels: enhancement, backend

#130 feat : #115 - project list controller
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
Labels: enhancement, backend

#131 hotfix : #123 - connect Database
  backend/tumblbug-clone/src/main/resources/application.properties
Labels: bug, backend
