Repository Start-as-Web-Developers/tumblbug-clone-coding, pull requests merged in 2023-06, with the labels that each got.

#128 Feature/#58 - 프로젝트 하단 상세페이지 뷰 완성
  frontend/src/App.tsx
  frontend/src/ProjectDetail/ProjectCommunity/ProjectCommunity.scss
  frontend/src/ProjectDetail/ProjectCommunity/ProjectCommunity.tsx
  frontend/src/ProjectDetail/ProjectCreator/ProjectCreator.scss
  frontend/src/ProjectDetail/ProjectCreator/ProjectCreator.tsx
  frontend/src/ProjectDetail/ProjectDetailContent.tsx
  frontend/src/ProjectDetail/ProjectPrice/ProjectPrice.scss
  frontend/src/ProjectDetail/ProjectPrice/ProjectPrice.tsx
  frontend/src/ProjectDetail/ProjectStory/ProjectStory.scss
  frontend/src/ProjectDetail/ProjectStory/ProjectStory.tsx
  frontend/src/ProjectDetail/ProjectUpdate/ProjectUpdate.scss
  frontend/src/ProjectDetail/ProjectUpdate/ProjectUpdate.tsx
  frontend/src/ProjectDetail/projectDetailContent.scss
  frontend/src/ProjectUpload/Preview/ProjectPreviewColumn.tsx
Labels: enhancement, frontend

#133 Feature/68 make like repository
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommunityController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProductController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Like.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/User.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/LikeRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/main/resources/data.sql
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/LikeRepositoryTest.java
Labels: enhancement, backend

#135 feat: #134 - make CORS filter
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/filter/CORSFilter.java
Labels: enhancement, backend

#136 Feature/68 make like service
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/LikeRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/LikeService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/LikeRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/LikeServiceTest.java
Labels: enhancement, backend

#138 Feature/137 fix response
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/TumblbugException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/communityException/CommunityCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/projectlistexception/StartIndexException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/LoginRequiredException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UnregisterUserException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserCantModifyIdException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserDTOConvertException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserEmailDuplicatedException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UserIdDuplicatedException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/WrongPasswordException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectCardController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/RootController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/filter/CORSFilter.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/LikeRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectCardService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/main/resources/appConfig.xml
  backend/tumblbug-clone/src/main/resources/application.properties
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
Labels: backend, refactor

#139 feat : #99 - update repository & service
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/updateException/CantFindUpdateException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/updateException/UpdateCantModifyIdException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/updateException/UpdateCantModifyModifiedToFalse.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectUpdateDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Project.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/ProjectUpdate.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/ProjectUpdateRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectUpdateService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ProjectUpdateRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/ProjectUpdateServiceTest.java
Labels: enhancement, backend

#141 feat : #99 - complete update logic before using comment
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/userexception/UnauthorizedUserException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UpdateController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectUpdateDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectUpdateService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UpdateControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/ProjectUpdateRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/ProjectUpdateServiceTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#149 Feature/84 refactor user logic
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/UserController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/UserRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectUpdateService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/UserControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/UserServiceTest.java
Labels: enhancement, backend

#145 Feature/144 community add user cookie
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/communityException/CommunityCantModify.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommunityController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/CommunityService.java
Labels: enhancement, backend

#150 Feature/99 update comment
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/CommentController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/CommentDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProjectUpdateDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/HttpConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/ProjectUpdate.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/UpdateComment.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/repository/CommentRepository.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/CommentService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectUpdateService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/UserService.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/controller/CommentControllerTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/repository/CommentRepositoryTest.java
  backend/tumblbug-clone/src/test/java/com/example/tumblbugclone/service/CommentServiceTest.java
Labels: enhancement, backend

#152 Feature/146 product add user cookie
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/projectException/ProjectCantFindException.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProductController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/dto/ProductDTO.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProductService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProjectService.java
Labels: enhancement, backend

#153 Feature/147 component add user cookie
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/Exception/componentException/ComponentCantModify.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ComponentController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/controller/ProjectController.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/managedconst/ExceptionConst.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/model/Component.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ComponentService.java
  backend/tumblbug-clone/src/main/java/com/example/tumblbugclone/service/ProductService.java
Labels: enhancement, backend
